@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@{
    ViewBag.Title = "Tarsas";
    Layout = "~/desktopmodules/mvc/hunterslodge.dnn.helloworld/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Társas vadászat jelentkezés</h2>
    <table>
        <thead>
            <tr>
                <th>Jelentkezés</th>
                <th>Vadászat típus</th>
                <th>Időpont</th>
                <th>Férőhelyek</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <button>Jelentkezem</button>
</div>


